<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3" translate="company.title">Companies</h1>
</div>
<div class="wrapper-md">
  <div class="row">
    <button ng-click="add()" translate="common.add" ruler-check="add_company" class="btn m-b-xs btn-sm btn-success btn-addon"><i class="fa fa-plus"></i>Add</button>
    <div class="panel panel-default">
      <div class="panel-heading" translate="company.title">
        <span class="label bg-danger pull-right m-t-xs">{{data.count}}</span>
        Companies
      </div>
      <table class="table table-striped m-b-none">
        <thead>
        <tr>
          <th>Id</th>
          <th translate="company.name">Name</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="company in data.data">
          <td>

            {{company.id}}
          </td>
          <td>{{company.name}}</td>
          <td>
            <span class="pull-right" >
              <a href ng-click="info(company.id)" ruler-check="update_company"><i class="fa fa-pencil fa-fw m-r-xs"></i></a>
              <a href ng-click="delete(company.id)" ruler-check="delete_company"><i class="fa fa-trash-o fa-fw m-r-xs"></i></a>
            </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>