<div class="modal-body wrapper-lg">
    <div class="panel-heading font-bold">Add</div>
    <div class="panel-body">
        <form role="form">
            <div class="form-group">
                <label>Content</label>
                <textarea ng-model="record.content" class="form-control" rows="10"></textarea>
            </div>
            <button ng-click="save($event)" one-off class="btn btn-primary btn-lg btn-block ">Save</button>
            <button ng-click="cancel($event)" one-off class="btn btn-lg btn-block ">Cancel</button>
        </form>
    </div>
</div>
