<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Memorize</h1>
</div>
<div class="row">
  <div class="col-md-3">
    <h5 translate="common.search">Search</h5>
    <input type="text" ng-change="list()" ng-model="params.search" placeholder="{{'common.search' | translate}}..." class="form-control rounded">
  </div>
  <div class="col-md-3">
    <h5>&nbsp;</h5>
    <button ng-click="add()" class="btn m-b-xs btn-sm btn-success btn-addon" translate="common.add"><i class="fa fa-plus"></i>Add</button>
    <button ng-click="reset()" class="btn m-b-xs btn-sm btn-primary" translate="common.reset">Reset</button>
    <button ng-click="search()" class="btn m-b-xs btn-sm btn-primary">搜索</button>
  </div>
</div>
<div class="wrapper-md">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="label bg-primary pull-right m-t-xs">{{data.totalElements}}</span>
        Records
      </div>
      <table class="table table-striped m-b-none">
        <thead>
        <tr>
          <th class="col-sm-4">Content</th>
          <th>SuccessCount</th>
          <th>Successive</th>
          <th>ErrorCount</th>
          <th>NextTime</th>
          <th>CreateTime</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in data.content">
            <td>{{p.content}}</td>
            <td>{{p.successCount}}</td>
            <td>{{p.successive}}</td>
            <td>{{p.errorCount}}</td>
            <td ng-class="{'text-danger': isPastDate(p.nextTime)}">{{p.nextTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{p.createTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>
                <a href ng-click="edit(p)"><i class="fa fa-pencil fa-fw m-r-xs"></i></a>
                <a href ng-click="test(p)"><i class="fa icon-check fa-fw m-r-xs"></i></a>
            </td>
        </tr>
        </tbody>
      </table>
    </div>
    <pagination total-items="data.totalElements" ng-model="params.pn" num-pages="numPages" max-size="9" ng-change="list()" class="pagination-sm m-t-none m-b pull-right" rotate="false"></pagination>
  </div>

  </div>

</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>