<div class="modal-body wrapper-lg">
    <div class="panel-heading font-bold">Test</div>
    <div class="panel-body">
        <form role="form1" ng-show="showForm1">
            <div class="form-group">
                <label>Content</label>
                <textarea ng-model="showText" class="form-control" rows="10" readonly></textarea>
            </div>
            <button ng-click="start($event)" class="btn btn-primary btn-lg btn-block ">Start</button>
            <button ng-click="cancel($event)" class="btn btn-lg btn-block ">Cancel</button>
        </form>
        <form role="form2" ng-show="showForm2">
            <div class="form-group">
                <label>Content</label>
                <textarea ng-model="inputText" class="form-control" rows="10"></textarea>
            </div>
            <button ng-click="submit($event)" one-off class="btn btn-primary btn-lg btn-block ">Submit</button>
            <button ng-click="back($event)" class="btn btn-lg btn-block ">Back</button>
            <button ng-click="cancel($event)" class="btn btn-lg btn-block ">Cancel</button>
        </form>
        <div ng-show="showCompare">
            <div id="compare"></div>
            <button ng-click="pass($event)" one-off class="btn btn-success btn-lg btn-block ">Pass</button>
            <button ng-click="reject($event)" one-off class="btn btn-danger btn-lg btn-block ">Reject</button>
        </div>
    </div>
</div>
