<div class="modal-body wrapper-lg">
    <div class="panel-heading font-bold">Roles</div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-sm-10">
                <div class="checkbox" ng-repeat="role in allRoles">
                    <label class="i-checks">
                        <input type="checkbox" ng-model="role.selected" ng-change="change(role)">
                        <i></i>
                        {{role.name}}
                    </label>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
